
<div data-controller="create-user">
  <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <div class="form-box" data-create-user-target="first">
    <div class= "back-g">
      <p class="text-1 text-center ">Create account</p>
      <br/>
        <ul>
          <li><%= f.email_field :email, placeholder: "Email", class:"fields-1",
                      required: true,
                      autofocus: true,
                      input_html: {  autocomplete: "email" }%></li>
          <br/>
          <li><%= f.password_field :password, placeholder: "Password", class:"fields-1",
                      required: true,
                      hint: ("#{@minimum_password_length} characters minimum" if @minimum_password_length),
                      input_html: { autocomplete: "new-password" } %></li>
          <br/>
          <li><%= f.password_field :password_confirmation, placeholder: "Password confirmation", class:"fields-1",
                      required: true,
                      input_html: { autocomplete: "new-password" } %></li>
          <br/>
          <li><i class="button-1 d-flex justify-content-center" data-action="click->create-user#displayForm">Next step</i></li>
          <br/>
          <li><%= link_to "If you already have a account click here !", user_session_path, class:"d-flex justify-content-center"  %></li>
        </ul>
      </div>
  </div>

  <%# next form %>


  <div class="form-box invisible" data-create-user-target="second" >
      <div>
        <p class="text-1 center-text">Create Account</p>
        <br/>
        <ul>
          <li><%= f.text_field :first_name, placeholder: "First name", class:"fields-1",
                      required: true,
                      autofocus: true,
                      input_html: { autocomplete: "email" }%></li>
          <br/>
          <li><%= f.text_field :last_name, placeholder: "Last name", class:"fields-1",
                      required: true,
                      input_html: { autocomplete: "Last name" } %></li>
          <br/>
          <li><%= f.number_field :work_hours, placeholder: "How many hours you work per day?", class:"fields-1",
                      required: true,
                      input_html: { autocomplete: "Work hours" } %></li>
          <br/>
           <li><%= f.number_field :break_time, placeholder: "what is your lunch time?", class:"fields-1",
                      required: true,
                      input_html: { autocomplete: "Lunch break" } %></li>
          <br/>
          <%= f.submit "Sign up", class:"button-1 border-0 w-100 d-flex justify-content-center" %>
          <br/>
          <li><a class="d-flex justify-content-center" data-action="click->create-user#displayForm">Back to the first step</a><li>

          <li><%= link_to "If you already have a account click here !", user_session_path, class:"d-flex justify-content-center"  %></li>
          <br/>
         </ul>
      </div>
  </div>
  <% end %>
</div>
