<div data-controller="create-user">
  <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
    <div class="wrapper-signup" data-create-user-target="first" >
      <div class="form-signin" >
        <h2 class= "sign-text text-1 text-center">Create account</h2>
            <i class="fa-regular fa-envelope"></i>
            <%= f.email_field :email, placeholder: "Email", class:"form-controlr",
                      required: true,
                      autofocus: true,
                      input_html: {  autocomplete: "email" }%>

            <i class="fa fa-key"></i>
            <%= f.password_field :password, placeholder: "Password", class:"form-controlr",
                        required: true,
                        hint: ("#{@minimum_password_length} characters minimum" if @minimum_password_length),
                        input_html: { autocomplete: "new-password" } %>

            <i class="fa fa-key"></i>
            <%= f.password_field :password_confirmation, placeholder: "Password confirmation", class:"form-controlr",
                        required: true,
                        input_html: { autocomplete: "new-password" }%>

            <%# <li><i class="button-login" data-action="click->create-user#displayForm">Next Step</i></li> %>
            <div class="d-flex justify-content-center ">
            <button class="next-button" data-action="click->create-user#displayForm">Sign Up</button>
            </div>
          <p class= "d-flex justify-content-center mt-3"> OR </p>
          <%= link_to "Log in", new_session_path(resource_name),class:" d-flex justify-content-center button-login2"  %>
      </div>
    </div>


<%# next form %>

    <div class="wrappe invisible form-n2 " data-create-user-target="second" >
      <div class="d-flex justify-content-between">
        <p class=" sign-text text-1 center-text">Add details</p>
          <i class="fa-solid fa-file-signature"></i>
          <%= f.text_field :first_name, placeholder: "First name", class:"form-controlr",
                      required: true,
                      autofocus: true,
                      input_html: { autocomplete: "email" }%>

          <i class="fa-solid fa-file-signature"></i>
          <%= f.text_field :last_name, placeholder: "Last name", class:"form-controlr",
                      required: true,
                      input_html: { autocomplete: "Last name" } %>

          <i class="fa-regular fa-hourglass"></i>
          <%= f.number_field :work_hours, placeholder: "How many hours you work per day?", class:"form-controlr",
                      required: true,
                      input_html: { autocomplete: "Work hours" } %>

          <i class="fa-brands fa-uncharted"></i>
            <%= f.number_field :break_time, placeholder: "what is your lunch time?", class:"form-controlr",
                      required: true,
                      input_html: { autocomplete: "Lunch break" } %>

          <div class="d-flex "><%= f.submit  "Log in", class:" d-flex justify-content-center sign-link"%>


          <a class="d-flex justify-content-center" data-action="click->create-user#displayForm">Back to the first step</a>
          <%= link_to "Do have a account click here !", user_session_path, class:"d-flex justify-content-center" %>
          </div>


      </div>
    </div>
  <% end %>

</div>
