<div class="d-none" >
  <% unless user.schedule.nil? %>
    <%= form_for(user.schedule, data: {start_target: "form"}, html:{id: "table"}) do |f| %>
      <h1>Edit a Schedule</h1>
      <%= f.label :start_time %>
      <%= f.time_field :start_time, placeholder: "Start Time", class:"fields-1 w-100" %>
      <br/>
      <%= f.label :lunch_break %>
      <%= f.time_field :lunch_break, placeholder: "Lunch Break", class:"fields-1 w-100" %>
      <br/>
      <%= f.label :end_time %>
      <%= f.time_field :end_time, placeholder: "End Time", class:"fields-1 w-100"%>
      <br/>
      <%= f.submit class:"button-1 border-0 w-100 d-flex justify-content-center" %>
      
    <% end %>
  <% end %>
</div>
