<% if current_user == nil %>
  <div class="landing-page">
    <header>
      <div class="container">
        <div class="">
          <%= image_tag "Logo.png" %>
          <a href="" class="navbar-text2">Work <b>Smart</b></a>
        </div>
        <ul class="links">
          <li><%= link_to "Home", root_path, class:"navbar-text1"  %></li>
          <li><%= link_to "About us", root_path, class:"navbar-text1"  %></li>
          <li><%= link_to "Features", root_path, class:"navbar-text1"  %></li>
          <li><%= link_to "Log in", user_session_path, class:"navbar-text1"  %></li>
          <li><%= link_to "Register Now ", new_user_registration_path, class:"button-1"  %></li>
          <li><%= link_to "Log-out", destroy_user_session_path, data: {turbo_method: :delete}, class:"button-1"  %></li>
        </ul>
      </div>
    </header>
  </div>
<% else %>
  <div class="landing-page">
    <header class="d-flex my-auto justify-content-between">
      <div class=" d-flex my-auto menu">
        <i class="fa-solid fa-bars d-flex my-auto" data-action="click->sidebar#toggle"></i>
      </div>

      <div class="logo d-flex my-auto ">
      <%= image_tag 'Logo.png' %>
        <h1>WorkSmart</h1>
      </div>

      <div class="d-flex my-auto button-of">
         <div class= "notify-icon"> <%= image_tag 'notify.png' %> </div>
         <label class="switch my-auto ">
          <input type="checkbox">
          <span class="slider round"></span>
        </label>
      </div>
    </header>
  </div>
<% end %>
