<% if current_user == nil %>
  <div class="landing-page">
    <header>
      <div class="container ">
        <div class="">
          <%= image_tag "Logo.png" %>
        </div>
        <ul class="links navbar-text">
          <li><%= link_to "Home", root_path, class:"navbar-text1"  %></li>
          <li><%= link_to "About us", root_path, class:"navbar-text1"  %></li>
          <li><%= link_to "Features", root_path, class:"navbar-text1"  %></li>
          <li><%= link_to "Log in", user_session_path, class:"nabar-button-login"  %></li>
          <li><%= link_to "Register Now ", new_user_registration_path, class:"nabar-button"  %></li>
        </ul>
      </div>
    </header>
  </div>
<% else %>
  <div class="landing-page">
    <header class="d-flex my-auto justify-content-between">
      <div class=" d-flex my-auto menu">
        <i class="fa-solid fa-bars d-flex my-auto" data-action="click->sidebar#toggle"></i>
      </div>
      <div class="my-auto ps-5 ms-5 ">
      <%= image_tag 'Logo.png' %>
      </div>

      <div class="d-flex my-auto l-r-space ">
         <div class= "notify-icon"> <%= image_tag 'notify.png' %> </div>
          <button class="nabar-button-start"> Start Work!</button>
      </div>
    </header>
  </div>
<% end %>
