<% if current_user == nil %>
  <div class="landing-page">
    <header>
      <div class="container ">
        <div class="">
          <%= image_tag "Logo.png", class:"logo" %>
        </div>
        <ul class="links navbar-text">
          <li><%= link_to "Home", root_path, class:"navbar-text1"  %></li>
          <li><%= link_to "About us", root_path, class:"navbar-text1"  %></li>
          <li><%= link_to "Features", root_path, class:"navbar-text1"  %></li>
          <li><%= link_to "Log in", user_session_path, class:"nabar-button-login"  %></li>
          <li>
            <div class="container-button-3">
              <button class="button-3">
              <span><%= link_to "Register Now ", new_user_registration_path  %></span></button>
            </div>
          </li>
        </ul>
      </div>
    </header>
  </div>
<% else %>
  <div class="landing-page">
    <header class="d-flex my-auto justify-content-between">
      <div class=" d-flex my-auto menu">
        <i class="fa-solid fa-bars my-auto" data-action="click->sidebar#toggle"></i>
      </div>
      <div class="my-auto ps-5 ms-5 ">
        <%= image_tag 'Logo.png', class:"logo"  %>
      </div>
        <div class="container-button-3 button-space">
          <button class="button-3" data-action="click->start#updateSchedule">
          <span>Start Work!</span></button>
        </div>
    </header>
  </div>

<% end %>
