<div class="d-flex flex-column flex-shrink-0 p-3 bg-light d-none" id="sidebar" style="width: 280px;" data-sidebar-target="sidebar">
    <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto link-dark text-decoration-none">
      <svg class="bi me-2" width="40" height="32"><use xlink:href="#bootstrap"></use></svg>
      <%= image_tag "Logo2.png",class:"logo-2" %>
      <span class="logo-text">WorkSmart</span>
    </a>
    <hr>
    <ul class="nav nav-pills flex-column mb-auto text-start ">
      <%= link_to dashboard_path do %>
        <li class="nav-item nav-link link-dark sidebar-item home-text w-100 ">
        <%= image_tag "icon1.svg" %>
          <svg class="bi me-2 " width="16" height="16"><use xlink:href="#home"></use></svg>
           <b>Home</b>
        </li>
      <% end %>
      <%= link_to projects_path do %>
        <li class="nav-item nav-link link-dark sidebar-item home-text w-100">
        <%= image_tag "icon2.svg" %>
          <svg class="bi me-2" width="16" height="16"><use xlink:href="#home" ></use></svg>
          <b>All Projects</b>
        </li>
      <% end %>
      <%= link_to new_project_path do %>
        <li class="nav-item nav-link link-dark sidebar-item home-text w-100">
        <%= image_tag "icon3.svg" %>
          <svg class="bi me-2" width="16" height="16"><use xlink:href="#home"></use></svg>
            <b>Add Project</b>
        </li>
      <% end %>

      <%= link_to edit_user_registration_path do %>
        <li class="nav-item nav-link link-dark sidebar-item home-text w-100">
        <%= image_tag "icon6.svg" %>
          <svg class="bi me-2" width="16" height="16"><use xlink:href="#" ></use></svg>
          <b>Setting</b>
        </li>
      <% end %>
      <%= link_to destroy_user_session_path, data: {turbo_method: :delete}, class:"link-dark sidebar-item" do  %>
        <li class="nav-item nav-link  link-dark sidebar-item home-text w-100 a ">
          <%= image_tag "icon5.svg" %>
          <svg class="bi me-2" width="16" height="16"><use xlink:href="#home"></use></svg>
           <b>Logout</b>
        </li>
      <% end %>
    </ul>
</div>
