<div class="d-flex flex-column flex-shrink-0 p-3 bg-light d-none" id="sidebar" style="width: 280px;" data-sidebar-target="sidebar">
    <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto link-dark text-decoration-none">
      <svg class="bi me-2" width="40" height="32"><use xlink:href="#bootstrap"></use></svg>
      <span class="fs-4">WorkSmart</span>
    </a>
    <hr>
    <ul class="nav nav-pills flex-column mb-auto">
      <%= link_to dashboard_path do %>
        <li class="nav-item nav-link link-dark sidebar-item">
          <svg class="bi me-2" width="16" height="16"><use xlink:href="#home"></use></svg>
            Home
        </li>
      <% end %>
      <%= link_to projects_path do %>
        <li class="nav-item nav-link link-dark sidebar-item">
          <svg class="bi me-2" width="16" height="16"><use xlink:href="#home"></use></svg>
            All Projects
        </li>
      <% end %>
      <%= link_to new_project_path do %>
        <li class="nav-item nav-link link-dark sidebar-item">
          <svg class="bi me-2" width="16" height="16"><use xlink:href="#home"></use></svg>
            Add a Project
        </li>
      <% end %>
      <%= link_to schedules_path do %>
        <li class="nav-item nav-link link-dark sidebar-item">
          <svg class="bi me-2" width="16" height="16"><use xlink:href="#home"></use></svg>
            All Schedules
        </li>
      <% end %>
      <li>
        <a href="#" class="nav-link link-dark sidebar-item">
          <svg class="bi me-2" width="16" height="16"><use xlink:href="#grid"></use></svg>
          Settings
        </a>
      <li>
      <%= link_to destroy_user_session_path, data: {turbo_method: :delete}, class:"link-dark sidebar-item" do  %>
        <li class="nav-item nav-link sidebar-item">
          <svg class="bi me-2" width="16" height="16"><use xlink:href="#home"></use></svg>
            Logout
        </li>
      <% end %>
    </ul>
</div>
