<div data-start-target="change">
  <div>
    <%= render "schedules/edit_form", user: user %>
  </div>
  <div class="text-center m-3">
    <h2 class="text-6 text-center pt-3 "><%= Date.today.strftime("%d-%m-%Y") %></h2>
    <br/>
    <% if user.schedule == nil %>
      <p class="text-2">You don't have any schedule yet</p>
    <% else %>
      <% start_time = user.schedule.start_time %>
      <% lunch_break = user.break_time %>
      <% lunch_break_time = Time.parse("#{lunch_break}:00") %>
      <% received_end_time = user.work_hours %>
      <% end_time_duration = received_end_time.hours %>
      <% end_time = start_time + end_time_duration %>
      <ul>
        <li class="text-2" >Start Time: <%= start_time.strftime("%H:%M") %></li>
        <br/>
        <%# <li class="text-2">Lunch Break: <%= lunch_break_time.strftime('%H:%M') %><%#</li> %>
        <br/>
        <li class="text-2 pb-3">End Time: <%= end_time.strftime("%H:%M")  %></li>
      </ul>
    <% end %>
  </div>
</div>
