<div class="page-grid" data-controller="schedule">

    <% if @user.projects == [] || @prioritised_projects == []%>
      <div class="priority-card">
        <p class= text-2>You don't have any projects yet</p>
    <% elsif @active_project == nil %>
      <%= link_to project_path(@prioritised_projects.first.id) do %>
        <div class="priority-card">
          <div class="new-box-1">
            <h2 class= "text-2 box-project">Priority Project</h2>
          </div>
          <div>
            <p class="text-5 pb-2 text-position-1"><%= @prioritised_projects.first.name %></p>
            <p class="text-4 pt-5 text-position-1"><%= @prioritised_project_percentage %>% completed</p>
            <div class="bar-size-position">
              <div class="progress" >
                <div class="progress-bar" role="progressbar" style="width: <%= @prioritised_project_percentage %>%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
              </div>
            </div>
          </div>
      <% end %>

    <% else %>
      <%= link_to project_path(@active_project.id) do %>
        <div class="priority-card">
          <div class="new-box-1">
            <h2 class= "text-2 box-project">Active Project</h2>
          </div>
          <div>
            <p class="text-5 pb-2 text-position-1"><%= @active_project.name %></p>
            <p class="text-4 pt-5 text-position-1"><%= @active_project_percentage%>% completed</p>
            <div class="bar-size-position">
              <div class="progress" >
                <div class="progress-bar" role="progressbar" style="width: <%= @active_project_percentage %>%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
              </div>
            </div>
          </div>
      <% end %>
    <% end %>
  </div>


  <div class= "view-card" >
    <div class="new-box-2">
      <h2 class="text-2 box-project-2 pt-4">View Projects</h2>
    </div>
    <div>
      <% if @unfinished_projects == nil %>
        <p class="text-4">You don't have any projects yet</p>
      <% else %>
      <ul>
      <div class="pt-3">
        <% @unfinished_projects.first(4).each do |project| %>
          <%= link_to project_path(project.id) do %>
            <li class="text-4 text-position-2"> <%= project.name %></li>
          <% end %>
        <% end %>
      <div>
      </ul>
      <% end %>
      <%= link_to projects_path do %>
        <div class="see-project">
          <p class= "text-3 pt-3 ">See all Projects</p>
          <%= image_tag 'Icons.svg' %>
        </div>
      <% end %>
    </div>
  </div>


  <%# --------- SCHEDULE ---------- %>
  <div class="schedule-card ">
    <%= render "pages/schedule", user: current_user %>
    <%= link_to "Create schedule", new_schedule_path, class:"create" %>
  </div>
</div>
