<div class="page-grid" data-controller="schedule">
  <div>
    <div class="priority-card">
      <% if @user.projects == [] %>
        <p>You don't have any projects yet</p>
      <% elsif @active_project == nil %>
        <h2 class= d-text>Priority Project</h2>
        <%= @prioritised_projects.first.name  %>
        <%= link_to project_path(@prioritised_projects.first.id) do %>
        <div class= "see-p">
          <p>See all Projects</p>
        </div>
        <div class="icons">
          <%= image_tag 'Icons.svg' %>
        </div>
      <% end %>
      <% else %>
        <h2>Active Project</h2>
        <%= @active_project.name %>
        <%= link_to project_path(@active_project.id) do %>
        <div class= "">
          <p>See more details</p>
          <%= image_tag 'Icons.svg' %>
        </div>
      <% end %>
      <% end %>
    </div>


    <div class= "view-card" >
      <h2>View Projects</h2>
      <% if @user.projects == nil %>
        <p>You don't have any projects yet</p>
      <% else %>
      <ul>
      <% @user.projects.first(4).each do |project| %>
        <li><%= project.name %></li>
      <% end %>
      </ul>
      <% end %>
      <%= link_to projects_path do %>
      <div class= >
        <p>See all Projects</p>
      </div>
      <div>
        <%= image_tag 'Icons.svg' %>
      </div>
      <% end %>
    </div>

  </div>

  <%# --------- SCHEDULE ---------- %>
  <div class="schedule-card">
    <%= render "pages/schedule", user: current_user %>
  </div>
</div>
