
<div>
    <div class='d-flex justify-content-between'>
    <div class= "priority-projects">
        <% if @user.projects == [] %>
          <p>You don't have any projects yet</p>
        <% elsif @active_project == nil %>
          <h2 class= d-text>Priority Project</h2>
          <%= @prioritised_projects.first.name  %>
          <%= link_to project_path(@prioritised_projects.first.id) do %>

            <div class= "see-p">
                <p>See all Projects</p>
            </div>

            <div class="icons">
              <%= image_tag 'Icons.svg' %>
            </div>

          <% end %>
        <% else %>
          <h2>Active Project</h2>
          <%= @active_project.name %>

          <%= link_to project_path(@active_project.id) do %>
            <div class= "see-p">
              <p>See more details</p>
              <%= image_tag 'Icons.svg' %>
          <% end %>
        <% end %>
    </div>
</div>


<div class= "view-projects " >
    <h2 class= "d-text">View Projects</h2>
    <% if @user.projects == nil %>
      <p>You don't have any projects yet</p>
    <% else %>
    <ul>
    <% @user.projects.first(4).each do |project| %>
    <li><%= project.name %></li>
    <% end %>
    </ul>
    <% end %>
    <%= link_to projects_path do %>
    <div class= see-p>
      <p>See all Projects</p>
    </div>
    <div class="icons">
      <%= image_tag 'Icons.svg' %>
    </div>
     <% end %>
    </div>
    </div>
    </div>
<div>

<div class= "top-corner date-project" >
  <div class="m-3">
    <h2 class="text-2 text-center pt-3"><%= Date.today %></h2>
    <br/>

    <% if @user.schedule == nil %>
      <p class="text-2">You don't have any schedule yet</p>
    <% else %>

      <ul>
        <li class="text-2">Start Time: <%= @user.schedule.start_time.strftime("%H:%M") %></li>
        <br/>
        <li class="text-2">Lunch Break: <%= @user.schedule.lunch_break.strftime("%H:%M") %></li>
        <br/>
        <li class="text-2 pb-3">End Time: <%= @user.schedule.end_time.strftime("%H:%M") %></li>
      </ul>

    <% end %>
  </div>
</div>
