
<div class="container show-form p-3 pb-5">
  <div class="d-flex justify-content-around">

    <div class="my-3 des-proj">
      <h1 class= "text-2 text-center"><%= @project.name %></h1>
      <div class= "li-des">
      <p class="text-start"> <i class="fa-solid fa-calendar-days"></i> Date Started: <%= @project.start_date.strftime("%d %B %y") %></p>
      <p class="text-start"> <i class="fa-solid fa-hourglass-end"></i> Project deadline: <%= @project.dead_line.strftime("%d %B %y") %></p>
      <p class="text-start"> <i class="fa-solid fa-clock"></i> Hours expected to complete this project: <%= @project.expected_hours %></p>
      <p class="text-start"> <i class="fa-solid fa-comments-dollar"></i> Hours spent on project: <%= @project.hours_worked.round(1) %>/<%= @project.expected_hours %></p>
      <p class="text-start"> <i class="fa-solid fa-square-check"></i><%= @percentage %>% completed</p>
    </div>
  </div>

    <div class="my-4 task-proj">
      <h1 class= "text-2">Tasks</h1>
      <ul>
      <% @tasks.each do |task| %>
        <% if task.completed %>
          <li class="my-3">
          <div class="d-flex justify-content-between">
            <div>
              <%= link_to checkbox_path(task) do %>
                <i class="fa-solid fa-square-check" style="color: #33ba21;"></i>
              <% end %>
              <%= task.name %>
            </div>
            <div>
              <%= link_to project_task_path(@project.id, task.id),
                          data: {turbo_method: :delete, turbo_confirm: "Are you sure?"} do
              %>
                <i class="fa-solid fa-trash" style="color: #0dc200;"></i>
              <% end %>
            </div>
          </div>
          </li>
        <% else %>
          <li class="my-3">
          <div class="d-flex justify-content-between">
            <div>
              <%= link_to checkbox_path(task) do %>
                <i class="fa-regular fa-square" style="color: #1ae000;"></i>
              <% end %>
              <%= task.name %>
            </div>
            <div>
              <%= link_to project_task_path(@project.id, task.id),
                          data: {turbo_method: :delete, turbo_confirm: "Are you sure?"} do
              %>
                <i class="fa-solid fa-trash" style="color: #0dc200;"></i>
              <% end %>
            </div>
          </div>
          </li>
        <% end %>
      <% end %>
      </ul>
    </div>
  </div>
  <div class="d-flex justify-content-around">
    <div>
      <% if @project.active %>
        <%= link_to "Unmark as Active", project_unmark_active_path(@project.id), class:"button-1 my-auto"%>
      <% else %>
        <%= link_to "Mark as Active", project_active_path(@project.id), class:"button-1 my-auto" %>
      <% end %>
    </div>
    <div>
      <% if @project.completed %>
        <%= link_to "Mark as Incomplete", project_incomplete_path(@project.id), class:"button-1 my-auto" %>
      <% else %>
        <%= link_to "Mark as Completed", project_complete_path(@project.id), class:"button-1 my-auto" %>
      <% end %>
    </div>
    <div>
      <%= link_to "+ Add a Task", new_project_task_path(@project.id), class:"button-1"%>
    </div>
  </div>
</div>
