<div class="container">
  <h1><%= @project.name %></h1>
  <p>Date Started: <%= @project.start_date %></p>
  <p>Project deadline: <%= @project.dead_line %></p>
  <p>Hours expected to complete this project: <%= @project.expected_hours %></p>
  <p>Hours spent on project: <%= @project.hours_worked %>/<%= @project.expected_hours %></p>

  <h2>Tasks</h2>
  <ul>
  <% @project.tasks.each do |task| %>
    <li>
    <%= task.name %>
    <%= link_to "Delete",
                project_task_path(@project.id, task.id),
                data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}
    %>
    </li>
  <% end %>
  </ul>
  <%= link_to "+ Add a Task", new_project_task_path(@project.id)%>
</div>
