
<div class="container show-form p-3 pb-5">
  <div class="d-flex justify-content-around">
    <div class="my-3 des-proj">
      <h1 class= "text-2"><%= @project.name %></h1>
      <div class= "li-des">
      <p> <i class="fa-solid fa-calendar-days"></i> Date Started: <%= @project.start_date %></p>
      <p> <i class="fa-solid fa-hourglass-end"></i> Project deadline: <%= @project.dead_line %></p>
      <p> <i class="fa-solid fa-clock"></i> Hours expected to complete this project: <%= @project.expected_hours %></p>
      <p> <i class="fa-solid fa-comments-dollar"></i> Hours spent on project: <%= @project.hours_worked %>/<%= @project.expected_hours %></p>
      <p> <i class="fa-solid fa-square-check"></i><%= @percentage %>% completed</p>
      <% unless @project.active %>
      <%= link_to "Mark as Active", project_active_path(@project.id), class:"button-1 my-auto" %>

      <% end %>
    </div>
  </div>

    <div class="my-4 des-proj">
      <h1 class= "text-2">Tasks</h1>
      <ul>
      <% @tasks.each do |task| %>
        <% if task.completed %>
          <li class="my-3">
            <%= link_to checkbox_path(task) do %>
            <i class="fa-solid fa-square-check" style="color: #33ba21;"></i>
            <% end %>
            <%= task.name %>
            <%= link_to project_task_path(@project.id, task.id),
                        data: {turbo_method: :delete, turbo_confirm: "Are you sure?"} do
            %>
              <i class="fa-solid fa-trash" style="color: #0dc200;"></i>
            <% end %>
          </li>
        <% else %>
          <li class="my-3">
            <%= link_to checkbox_path(task) do %>
            <i class="fa-regular fa-square" style="color: #1ae000;"></i>
            <% end %>
            <%= task.name %>
            <%= link_to project_task_path(@project.id, task.id),
                        data: {turbo_method: :delete, turbo_confirm: "Are you sure?"} do
            %>
              <i class="fa-solid fa-trash" style="color: #0dc200;"></i>
            <% end %>
          </li>
        <% end %>
      <% end %>
      </ul>
      <br/>
      <%= link_to "+ Add a Task", new_project_task_path(@project.id), class:"button-1"%>
    </div>
  </div>
  <% if @project.completed %>
    <%= link_to "Mark as Incomplete", project_incomplete_path(@project.id), class:"button-1 my-auto" %>
  <% else %>
    <%= link_to "Mark as Completed", project_complete_path(@project.id), class:"button-1 my-auto" %>
  <% end %>
</div>
