
<div class="wrapper">
    <div class="form-signin">
        <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>

      <h2 class="sign-text text-1  text-center">Please login</h2>
      <ul>
      <br/>
       <i class="fa-regular fa-envelope"></i> <li><%= f.text_field :email, placeholder: "Email",
                  required: true,
                  autofocus: true,
                  input_html: { autocomplete: "email" }, class:"form-control" %> </li>

      <br/>
      <i class="fa-solid fa-lock"></i>
      <li><%= f.password_field :password, placeholder: "Password",
                  required: true,
                  input_html: { autocomplete: "current-password" }, class:"form-control" %></li>
      <br/>
      <li>
        <%= f.check_box :remember_me, as: :boolean if devise_mapping.rememberable? %>
        <%= f.label "Remember me" %>
      </li>

      <br/>
      <li class="d-flex "><%= f.submit  "Log in", class:" d-flex justify-content-center button-login"%></li>
      <br/>
      </ul>

      <p class= "d-flex justify-content-center"> OR </p>
      <br/>
      <%= link_to "Sign up", new_registration_path(resource_name), class:"d-flex justify-content-center sign-link " %>
      <br/>
      <%= link_to "Forgot your password?", new_password_path(resource_name), class:"d-flex justify-content-center"%><br/>
   <% end %>
   </div>
  </div>
